name: Build Images

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: login docker
        run: echo ${{ secrets.DOCKER_TOKEN }} | docker login -u wangsijie --password-stdin
      - name: build
        run: docker build -t wangsijie/server-under-maintenance .
      - name: push
        run: docker push wangsijie/server-under-maintenance
